<robot name="mycar">
    <link name="base_link">
        <visual>
            <geometry>
                <!-- box -->
                <!-- <box size="0.5 0.2 0.1" /> -->
                <!--  -->
                <!-- <cylinear radius="0.1" length="0.5" /> -->
                <!--  -->
                <!-- <sphere radius="1" /> -->
                <!--  -->
                <mesh filename="package://urdf_learn/meshes/autolabor_mini.stl"/>
            </geometry>
            <!-- xyz坐标 rpy翻滚俯仰与偏航角度(3.14=180度 1.57=90度) -->
            <origin xyz="2 0 0" rpy = "1.57 0 1.57" />
            <!-- color and out-look -->
            <material name="car_color">
                <color rgba="0 1 0 0.75"/>
            </material>
        </visual>
    </link>
</robot>
